<!DOCTYPE html>
<html>
<body>
    <h1>Add a Book</h1>
    <form>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>

        <label for="isbn">ISBN:</label><br>
        <input type="number" id="isbn" name="isbn">

        <label for="afname">Author First Name:</label><br>
        <input type="text" id="afname" name="afname">

        <label for="alname">Author Last Name:</label><br>
        <input type="text" id="alname" name="alname">

        <label for="year">Year Published:</label><br>
        <input type="number" id="year" name="year">


        <label for="genre">Genre:</label><br>

        <input type="radio" id="scifi" name="genre" value="scifi">
        <label for="child">Science Fiction</label><br>

        <input type="radio" id="fantasy" name="genre" value="fanstasy">
        <label for="fantasy">Fantasy</label><br>

        <input type="radio" id="romance" name="genre" value="romance">
        <label for="romance">Romance</label>

        <input type="radio" id="nonfiction" name="genre" value="nonfiction">
        <label for="nonfiction">Nonfiction</label>

        <div><button type="submit">Submit</button></div>

    </form>
</body>
</html>