<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <h1>BookList</h1>
    <p>{{ msg }}</p>
    <a href="/addbook">add a book</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year Published</th>
            <th>Genre</th>
            <th>ISBN</th>
        </tr>
        {% for row in list %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>
                <a href="/editauth?author={{ row[6] }}">{{ row[2] }}</a>
            </td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>
                <a href="/editbook?book={{ row[0] }}">edit</a>
            </td>
            <td>
                <a href="/delbook?book={{ row[0] }}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>