<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.7.1.min.css" />
</head>
<body>
    <h1>{{ store[1] }} Bookstore</h1>
    <a href="/locations">back to locations</a>

    <p>Address: {{ store[2] }}, {{ store[3] }}, {{ store[4] }}, {{ store[5] }}</p>


    <p>Edit store details:</p>
    <form method="POST">
        <label for="name">Store Name:</label>
        <input type="text" id="name" name="name" value={{ store[1] }}><br>

        <label for="street">Street Address:</label>
        <input type="text" id="street" name="street" value={{ store[2] }}><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" value={{ store[3] }}><br>

        <label for="state">State:</label>
        <input type="text" id="state" name="state" value={{ store[4] }}><br>

        <label for="zip">ZIP Code:</label>
        <input type="number" id="zip" name="zip" value={{ store[5] }}><br>

        <div><button type="submit" name="action" value="editstore">Submit</button></div><br>

    </form>


    <p>Note: deleting this location will also delete all book copies at this location. Proceed with caution!!</p>
    <a href="/delstore?id={{ store[0] }}">delete this bookstore</a>

</body>
</html>